

.profile{
    position: fixed;
    bottom: 0;
}

.profile-home{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(200, 200, 200);
    max-width: 100px;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
}

.profile-items{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 3rem;
    border: 2px solid rgba(200, 200, 200, 0.433);
    max-width: 80px;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 8rem 2rem;
    
}

