
body{
    background-color: black;
}

.line{
    background-color: white;
    width: 100%;
    height: 2px;
    margin: 3rem 0;
}

.container{
    margin: 2.5rem 0;
    
}


.post-box{
    border: 1px solid rgb(197, 197, 197);
    width: 40vw;
    height: max-content;
    border-radius: 30px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
    margin-left: 10rem;

}




.profile-pic{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.post-header{
    display: flex;
    gap: 1rem;
}

.postUserName{
    font-size: 16px;
    font-weight: 500;
    
}

.postDuration{
    font-size: 16px;
    font-weight: 100;
    
}

.postCaption{
    font-size: 15px;
    font-weight: 300;
    margin: 0.5rem 0.5rem;
    max-width: 600px;
}



.postMedia{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.postImg{
    display: flex;
    border-radius: 10px;
    max-width: 400px;
    height: 350px;
    margin: 1.5rem 0;
}











