@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.custom-navbar {
  background-color: black;
  z-index: 1000;
}



.logo {
  font-size: 30px;
  font-weight: 600;
  padding: 0.3rem;
}

.search-bar{
    width: 300px;
    height: 40px;
    border: 2px solid rgb(197, 197, 197);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 1.3rem;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

.nav .nav-items{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0.6rem;
    padding: 1rem;
}