@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

.custom-navbar {
  background-color: black;
  z-index: 1000;
}



.logo {
  font-size: 30px;
  font-weight: 600;
  padding: 0.3rem;
}

.search-bar {
    background-color: black; /* darker background */
    border: 2px solid rgb(100, 100, 100);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
  }
  
  .search-bar::placeholder {
    color: #e3e3e3; /* light placeholder text */
  }
  


.nav-items .nav-link {
  margin-left: 1rem;
  font-weight: 500;
}

/* Responsive spacing */
@media (max-width: 768px) {
  .search-bar {
    width: 100%;
    margin: 1rem 0;

  }

  .nav-items {
    text-align: center;
  }
}
