.plus-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 10px;
    color: white;
    width: 70px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .plus-button:hover {
    background-color: #555;
  }
  