
.pos-fixed{
    position: fixed;
  top: 6rem;
  right: 2rem;
  z-index: 1; /* Lower z-index than the popup */
}

.right{
    border: 1px solid rgb(197, 197, 197);
    width: max-content;
    max-height: 60vh;
    margin: 2rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: relative;
    overflow-y: scroll;
    padding: 2rem;
    margin-left: 7rem;
    gap: 1rem;  
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 22px;
    font-weight: 600;
}

.right-holder{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    width: max-content;
    height: max-content;
}

.right-header{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    margin: 0rem 1rem;
    margin-top:1rem;
}

.right-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    margin: 0rem 4.5rem;
    gap: 1rem;
}

.right-desc{
    font-weight: 200;
}