

.rightBar{
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.create-post{
    border: 2px solid rgba(200, 200, 200, 0.433);
    width: 300px;
    border-radius: 10px;
    margin: 8rem 2rem;
    padding: 0.8rem;
    
    
}

#post-heading{
    font-size: 22px;
    
}

#post-btn{
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 35px;
    border-style:none;
    

}